app-grid {
    .current-status {
        height: 30px;
        // background-color: #9bf2e7;
        border-radius: 4px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

